# Source: ingress/templates/deployment-ingress.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ingress
  annotations:
    "openstackhelm.openstack.org/release_uuid": ""
  labels:
    release_group: ingress
    application: ingress
    component: server
    app: ingress-api
spec:
  replicas: 3
  revisionHistoryLimit: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 3
  selector:
    matchLabels:
      release_group: ingress
      application: ingress
      component: server
      app: ingress-api
  template:
    metadata:
      labels:
        release_group: ingress
        application: ingress
        component: server
        app: ingress-api
      annotations:
        "openstackhelm.openstack.org/release_uuid": ""
        configmap-bin-hash: "6ff762de677a29a1d0294a4c4eb23fd37f35e7b17f0253c71905da06fcab5d87"
        configmap-etc-hash: "b32b9ce945c4bb7819fd45733c484dfbe98ab4178fb7a58b82dedbc89ef1fc92"
    spec:
      securityContext:
        runAsUser: 65534
      shareProcessNamespace: true
      serviceAccountName: ingress-ingress
      affinity:
        
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - podAffinityTerm:
              labelSelector:
                matchExpressions:
                  - key: release_group
                    operator: In
                    values:
                    - ingress
                  - key: application
                    operator: In
                    values:
                    - ingress
                  - key: component
                    operator: In
                    values:
                    - server
              topologyKey: kubernetes.io/hostname
            weight: 10
      nodeSelector:
        openstack-control-plane: "enabled"
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      terminationGracePeriodSeconds: 60
      initContainers:
        
        - name: init
          image: "quay.io/airshipit/kubernetes-entrypoint:v1.0.0"
          imagePullPolicy: IfNotPresent  
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsUser: 65534
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.name
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.namespace
            - name: INTERFACE_NAME
              value: eth0
            - name: PATH
              value: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/
            - name: DEPENDENCY_SERVICE
              value: ""
            - name: DEPENDENCY_DAEMONSET
              value: ""
            - name: DEPENDENCY_CONTAINER
              value: ""
            - name: DEPENDENCY_POD_JSON
              value: ""
            - name: DEPENDENCY_CUSTOM_RESOURCE
              value: ""
          command:
            - kubernetes-entrypoint
          volumeMounts:
            []
      containers:
        - name: ingress
          image: "quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.23.0"
          imagePullPolicy: IfNotPresent
          
          
          securityContext:
            readOnlyRootFilesystem: false
            runAsUser: 0
          readinessProbe:
            httpGet:
              path: /healthz
              port: 10254
              scheme: HTTP
          livenessProbe:
            httpGet:
              path: /healthz
              port: 10254
              scheme: HTTP
            initialDelaySeconds: 10
            timeoutSeconds: 1
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: PORT_HTTP
              value: "80"
            - name: PORT_HTTPS
              value: "443"
            - name: PORT_STATUS
              value: "18080"
            - name: PORT_HEALTHZ
              value: "10254"
            - name: DEFAULT_SERVER_PORT
              value: "28080"
            - name: RELEASE_NAME
              value: "ingress"
            - name: ERROR_PAGE_SERVICE
              value: "ingress-error-pages"
            - name: INGRESS_CLASS
              value: "nginx"
            
          ports:
            - containerPort: 80
              hostPort: 80
            - containerPort: 443
              hostPort: 443
            - containerPort: 18080
              hostPort: 18080
            - containerPort: 10254
              hostPort: 10254
            - containerPort: 28080
              hostPort: 28080
          command:
            - /tmp/ingress-controller.sh
            - start
          lifecycle:
            preStop:
              exec:
                command:
                  - /tmp/ingress-controller.sh
                  - stop
          volumeMounts:
            - name: pod-tmp
              mountPath: /tmp
            - name: ingress-bin
              mountPath: /tmp/ingress-controller.sh
              subPath: ingress-controller.sh
              readOnly: true
      volumes:
        - name: pod-tmp
          emptyDir: {}
        - name: ingress-bin
          configMap:
            name: ingress-bin
            defaultMode: 0555
