# Source: memcached/templates/monitoring/prometheus/exporter-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "memcached-memcached-exporter"
  labels:
    release_group: memcached
    application: prometheus_memcached_exporter
    component: exporter
spec:
  replicas: 1
  selector:
    matchLabels:
      release_group: memcached
      application: prometheus_memcached_exporter
      component: exporter
  revisionHistoryLimit: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 3
  template:
    metadata:
      labels:
        release_group: memcached
        application: prometheus_memcached_exporter
        component: exporter
      namespace: 
    spec:
      securityContext:
        runAsUser: 65534
      shareProcessNamespace: true
      serviceAccountName: "memcached-memcached-exporter"
      nodeSelector:
        openstack-control-plane: "enabled"
      terminationGracePeriodSeconds: 30
      initContainers:
        
        - name: init
          image: "quay.io/airshipit/kubernetes-entrypoint:v1.0.0"
          imagePullPolicy: IfNotPresent  
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsUser: 65534
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.name
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.namespace
            - name: INTERFACE_NAME
              value: eth0
            - name: PATH
              value: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/
            - name: DEPENDENCY_SERVICE
              value: "openstack:memcached"
            - name: DEPENDENCY_DAEMONSET
              value: ""
            - name: DEPENDENCY_CONTAINER
              value: ""
            - name: DEPENDENCY_POD_JSON
              value: ""
            - name: DEPENDENCY_CUSTOM_RESOURCE
              value: ""
          command:
            - kubernetes-entrypoint
          volumeMounts:
            []
      containers:
        - name: memcached-exporter
          image: docker.io/prom/memcached-exporter:v0.4.1
          imagePullPolicy: IfNotPresent
          
          
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
          command:
            - /tmp/memcached-exporter.sh
            - start
          ports:
            - name: metrics
              containerPort: 9150
          env:
          - name: MEMCACHED_HOST
            value: memcached.openstack.svc.cluster.local:11211
          volumeMounts:
            - name: pod-tmp
              mountPath: /tmp
            - name: memcached-exporter-bin
              mountPath: /tmp/memcached-exporter.sh
              subPath: memcached-exporter.sh
              readOnly: true
      volumes:
        - name: pod-tmp
          emptyDir: {}
        - name: memcached-exporter-bin
          configMap:
            name: "memcached-memcached-exporter-bin"
            defaultMode: 0555

