# Source: horizon/templates/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: horizon
  annotations:
    "openstackhelm.openstack.org/release_uuid": ""
  labels:
    release_group: horizon
    application: horizon
    component: server
spec:
  replicas: 3
  selector:
    matchLabels:
      release_group: horizon
      application: horizon
      component: server
  revisionHistoryLimit: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 3
  template:
    metadata:
      labels:
        release_group: horizon
        application: horizon
        component: server
      annotations:
        "openstackhelm.openstack.org/release_uuid": ""
        configmap-bin-hash: "ed2c689a1c3f111a1aa1acdb10e8a49af9a48e8b8933618517e149e241471bde"
        configmap-etc-hash: "867341f8f358481d9e97db82160bcbcdc03dc0f2ed70cbe7716b2cc166e0151d"
    spec:
      serviceAccountName: horizon
      securityContext:
        runAsUser: 42420
      affinity:
        
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - podAffinityTerm:
              labelSelector:
                matchExpressions:
                  - key: release_group
                    operator: In
                    values:
                    - horizon
                  - key: application
                    operator: In
                    values:
                    - horizon
                  - key: component
                    operator: In
                    values:
                    - server
              topologyKey: kubernetes.io/hostname
            weight: 10
      nodeSelector:
        openstack-control-plane: enabled
      terminationGracePeriodSeconds: 30
      initContainers:
        
        - name: init
          image: "quay.io/airshipit/kubernetes-entrypoint:v1.0.0"
          imagePullPolicy: IfNotPresent  
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsUser: 65534
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.name
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.namespace
            - name: INTERFACE_NAME
              value: eth0
            - name: PATH
              value: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/
            - name: DEPENDENCY_SERVICE
              value: "openstack:memcached,openstack:mariadb,openstack:keystone-api"
            - name: DEPENDENCY_JOBS
              value: "horizon-db-sync"
            - name: DEPENDENCY_DAEMONSET
              value: ""
            - name: DEPENDENCY_CONTAINER
              value: ""
            - name: DEPENDENCY_POD_JSON
              value: ""
            - name: DEPENDENCY_CUSTOM_RESOURCE
              value: ""
          command:
            - kubernetes-entrypoint
          volumeMounts:
            null
      containers:
        - name: horizon
          image: "docker.io/openstackhelm/horizon:stein-ubuntu_bionic"
          imagePullPolicy: IfNotPresent
          
          
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: false
            runAsUser: 0
          command:
            - /tmp/horizon.sh
            - start
          env:
          - name: MY_POD_IP
            valueFrom:
              fieldRef:
                fieldPath: status.podIP
          lifecycle:
            preStop:
              exec:
                command:
                  - /tmp/horizon.sh
                  - stop
          ports:
            - name: web
              containerPort: 80
          readinessProbe:
            httpGet:
              scheme: HTTP
              path: /
              port: 80
            initialDelaySeconds: 150
            periodSeconds: 600
          livenessProbe:
            httpGet:
              scheme: HTTP
              path: /
              port: 80
            initialDelaySeconds: 180
            periodSeconds: 600
            timeoutSeconds: 5
          volumeMounts:
            - name: pod-tmp
              mountPath: /tmp
            - name: static-horizon
              mountPath: /var/www/html/
            - name: horizon-bin
              mountPath: /tmp/horizon.sh
              subPath: horizon.sh
              readOnly: true
            - name: horizon-bin
              mountPath: /tmp/manage.py
              subPath: manage.py
              readOnly: true
            - name: horizon-etc
              mountPath: /etc/apache2/sites-enabled/000-default.conf
              subPath: horizon.conf
              readOnly: true
            - name: horizon-etc
              mountPath: /etc/apache2/conf-available/security.conf
              subPath: security.conf
              readOnly: true
            - name: horizon-bin
              mountPath: /var/www/cgi-bin/horizon/django.wsgi
              subPath: django.wsgi
              readOnly: true
            - name: horizon-etc
              mountPath: /etc/openstack-dashboard/local_settings
              subPath: local_settings
              readOnly: true
            - name: horizon-etc
              mountPath: /etc/openstack-dashboard/ceilometer_policy.json
              subPath: ceilometer_policy.json
              readOnly: true
            - name: horizon-etc
              mountPath: /etc/openstack-dashboard/cinder_policy.json
              subPath: cinder_policy.json
              readOnly: true
            - name: horizon-etc
              mountPath: /etc/openstack-dashboard/glance_policy.json
              subPath: glance_policy.json
              readOnly: true
            - name: horizon-etc
              mountPath: /etc/openstack-dashboard/heat_policy.json
              subPath: heat_policy.json
              readOnly: true
            - name: horizon-etc
              mountPath: /etc/openstack-dashboard/keystone_policy.json
              subPath: keystone_policy.json
              readOnly: true
            - name: horizon-etc
              mountPath: /etc/openstack-dashboard/neutron_policy.json
              subPath: neutron_policy.json
              readOnly: true
            - name: horizon-etc
              mountPath: /etc/openstack-dashboard/nova_policy.json
              subPath: nova_policy.json
              readOnly: true

      volumes:
        - name: pod-tmp
          emptyDir: {}
        - name: wsgi-horizon
          emptyDir: {}
        - name: static-horizon
          emptyDir: {}
        - name: horizon-bin
          configMap:
            name: horizon-bin
            defaultMode: 0555
        - name: horizon-etc
          secret:
            secretName: horizon-etc
            defaultMode: 0444
